.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.form-group.small-gap {
  margin-bottom: 8.5px;
}

.form-group label {
  margin-bottom: 7.5px;
  font-size: 16px;
}
 
.form-control {
  border: 1px solid var(--light-gray);
  padding: 12.5px;
}

.form-row {
  display: flex;
}

.form-row .form-group {
  width: 47.5%;
  margin-right: 5%;
}

.form-row.three .form-group {
  width: 32%;
  margin-right: 2.5%;
}

.helper {
  font-size: 12px;
}

.text-row {
  background: rgba(255,255,255,0.5);
  padding: 7.5px 0 7.5px 7.5px;
}

/* Project page */
.inline-blocks {
  display: flex;
  justify-content: space-between;
}

.inline-blocks .form-block {
  width: 30%;
}

/* Modal */
.ReactModal__Overlay {
  background-color: rgba(60, 60, 60, 0.5) !important;
  z-index: 9;
}

/* Material UI */
.MuiOutlinedInput-input {
  border-radius: 4px !important;
  border: 1px solid var(--light-gray) !important;
  padding: 7.5px !important;
  font-size: 14px !important;
}

.MuiOutlinedInput-root [type="number"] {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.MuiOutlinedInput-root [type="number"]::-webkit-outer-spin-button,
.MuiOutlinedInput-root [type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.MuiOutlinedInput-root [type="number"] {
  -moz-appearance: textfield;
}

.MuiInputBase-input:focus {
  transition: background 0.5s linear;
}

.MuiInputBase-input:focus {
  outline: 0;
  background: rgba(0,0,0,0.05);
}

.MuiSelect-select {
  padding-right: 32px !important;
}

.MuiSelect-icon {
  border-left: 1px solid rgba(0,0,0,0.35) !important;
  border-right: none !important;
  padding-left: 5px !important;
  padding-right: 0 !important;
  height: 15px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.MuiSelect-iconOpen {
  transform: translateY(-50%) rotate(180deg) !important;
  border-left: none !important;
  border-right: 1px solid rgba(0,0,0,0.35) !important;
  padding-right: 5px !important;
  padding-left: 0 !important;
}

.MuiSelect-outlined.MuiSelect-outlined {
  padding-right: 42px !important;
}

.MuiTablePagination-select {
  border: 1px solid #B1B0AF;
  border-radius: 2px;
  padding: 6px !important;
  color: #B1B0AF;
  font-size: 12px;
}

.MuiTablePagination-input .MuiTablePagination-selectIcon {
  display: none;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--light-gray) !important;
}

.MuiFormHelperText-contained {
  margin: 0 !important;
  color: var(--text-gray) !important;
  font-weight: 500;
  margin-top: 5px !important;
}

.MuiOutlinedInput-multiline {
  padding: 0 !important;
}

.MuiCheckbox-root {
  color: #B1B0AF !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: var(--gold) !important;
}

.MuiFormLabel-root {
  color: var(--text-gray) !important;
  font-weight: 400 !important;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: var(--gold) !important;
}

.PrivateSwitchBase-root-8 {
  padding: 5px 9px;
}

.MuiIconButton-root:hover {
  background-color: transparent !important;
}

/* Avatar */
.MuiAvatar-root {
  width: 60px !important;
  height: 60px !important;
}

/* Datepicker */
.MuiPickersToolbar-toolbar,
.MuiPickersDay-daySelected {
  background: var(--gold) !important;
}

.MuiButton-textPrimary {
  background: #F4F2F0 !important;
  color: #B1B0AF !important;
}

.MuiDialogActions-spacing > :not(:first-child) {
  background: var(--light-gray) !important;
  color: var(--text-gray) !important;
}

/* Typography */
form h5 {
  margin-top: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.padded-right textarea {
  padding-right: 30px !important;
}