/* .MuiTablePagination-toolbar .MuiTablePagination-caption {
  display: none !important;
}

.MuiTablePagination-toolbar .MuiTablePagination-input .MuiTablePagination-caption {
  display: flex;
} */

.MuiDataGrid-root .MuiDataGrid-footerContainer {
  display: flex;
  min-height: 52px;
  align-items: center;
  justify-content: center;
}

.MuiTablePagination-toolbar p:nth-child(2) {
  display: none;
}

.project-grid .MuiDataGrid-footerContainer {
  display: none !important;
}