.MuiDataGrid-renderingZone {
  max-height: 100% !important;
  width: 100% !important;
}

.MuiDataGrid-root {
  position: relative;
}

.MuiDataGrid-root > div:nth-child(3) {
  position: absolute;
  bottom: 0;
  transform: translate(0, 75%);
  width: 100%;
  padding-bottom: 30px;
}

.MuiDataGrid-root .MuiDataGrid-row {
  margin-bottom: 7.5px;
  background-color: var(--white);
  border-radius: 2px;
}

.MuiDataGrid-root:not(.no-color) .MuiDataGrid-row {
  border-left: 5px solid; 
}

.MuiDataGrid-root:not(.no-color):not(.default-color) .MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(1n) {
  border-color: #FCDB6E !important;
}

.MuiDataGrid-root:not(.no-color):not(.default-color) .MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(2n) {
  border-color: #71DBFC !important;
}

.MuiDataGrid-root:not(.no-color):not(.default-color) .MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(3n) {
  border-color: #BFE764 !important;
}

.MuiDataGrid-root:not(.no-color):not(.default-color) .MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(4n) {
  border-color: #4444F8 !important;
}

.MuiDataGrid-root:not(.no-color):not(.default-color) .MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(5n) {
  border-color: #F14D4C !important;
}

.MuiDataGrid-root.default-color .MuiDataGrid-renderingZone > .MuiDataGrid-row {
  border-color: #FCDB6E !important;
}

.MuiDataGrid-root .MuiDataGrid-row.job-row {
  margin-left: 35px;
  width: calc(100% - 35px) !important;
}

.MuiDataGrid-root .MuiDataGrid-row.job-row [data-field="projectInfo"] {
  min-width: 277px !important;
  max-width: 277px !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:first-child {
  padding-left: 20px;
}

.MuiDataGrid-root {
  border: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within, .MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderWrapper {
  background: rgba(221, 219, 215, .5);
  margin-bottom: 7.5px;
  color: var(--text-gray);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  font-weight: 600 !important;
}

.MuiDataGrid-root .MuiDataGrid-menuIcon {
  display: none !important;
}

@media (hover: none) {
  .MuiDataGrid-root .MuiDataGrid-row.Mui-selected:hover,
  .MuiDataGrid-root .MuiDataGrid-row:hover {
    background-color: var(--white) !important;
  }
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  border-bottom: none !important;
}

.MuiDataGrid-root .MuiDataGrid-row {
  background-color: var(--white);
  transition: all 1s;
  transition-timing-function: cubic-bezier(.17,.67,.83,.67);
  width: 100% !important;
}

.MuiDataGrid-root .MuiDataGrid-viewport {
  overflow: visible !important;
}

.MuiDataGrid-root .MuiDataGrid-window {
  overflow: visible !important;
}

@media (max-width: 768px) {
  .MuiDataGrid-root .MuiDataGrid-window {
    overflow-x: scroll !important;
  }
  /* .MuiDataGrid-root .MuiDataGrid-columnHeader {
    width: 200px !important;
    max-width: 200px !important;
  } */
}

.MuiDataGrid-root .MuiDataGrid-row:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
  background-color: var(--white) !important;
}

.MuiDataGrid-renderingZone {
  position: relative;
  top: -1px;
}

.MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
  background-color: rgba(247, 247, 247, 1) !important;
}

.MuiTableRow-root.Mui-selected, .MuiTableRow-root.Mui-selected:hover {
  background-color: #F4F2F0 !important;
}

.MuiDataGrid-root .MuiDataGrid-row {
  transition: all .5s !important;
}

.MuiDataGrid-iconButtonContainer {
  position: absolute;
  right: 7.5px;
  top: -2px;
  z-index: 5;
}

.MuiDataGrid-root .MuiDataGrid-footerContainer {
  padding-top: 30px !important;
  justify-content: center !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  padding: 0;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderWrapper {
  margin-bottom: 0;
}

.MuiDataGrid-root .MuiDataGrid-columnsContainer {
  min-height: 30px !important;
  max-height: 30px !important;
  line-height: 30px !important;
  border-bottom: 0 !important;
}

.MuiDataGrid-root .MuiDataGrid-columnSeparator {
  min-height: 30px !important;
}

.MuiDataGrid-root .MuiDataGrid-window {
  top: 38px !important;
}

.MuiDataGrid-selectedRowCount {
  opacity: 0 !important;
  display: none !important;
}

.MuiTablePagination-root .MuiTablePagination-select {
  border: 2px solid #B1B0AF;
  border-radius: 4px;
  color: #B1B0AF;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px !important;
  position: relative;
  top: -1px;
}

.MuiTablePagination-caption {
  left: -25px !important;
}

.MuiTablePagination-caption {
  font-weight: bold !important;
  position: relative !important;
  right: 42px !important;
  width: 70px !important;
  text-align: center !important;
}

.MuiTablePagination-actions {
  position: absolute !important;
  right: 0 !important;
  width: 125px !important;
}

.MuiIconButton-root {
  padding: 5px !important;
}

.MuiTablePagination-actions > button:nth-child(2) {
  position: absolute !important;
  right: 0 !important;
}

.MuiTablePagination-selectRoot {
  margin-right: 70px !important;
}

.hideHeader .MuiDataGrid-columnsContainer {
  visibility: hidden !important;
  display: none !important;
}

.hideContent {
  height: 30px !important;
  margin-bottom: 7.5px;
  overflow: hidden !important;
}

.hideContent .MuiDataGrid-footerContainer {
  display: none !important;
}

/* Label select */
.label-select svg {
  display: none !important;
}

.label-select .MuiSelect-selectMenu {
  padding: 0 !important;
  padding-right: 2px !important;
}

.label-select .MuiSelect-selectMenu:hover {
  cursor: pointer;
}

.label-select .MuiSelect-selectMenu input {
  margin: 0;
}

.label-select .MuiSelect-selectMenu input:hover {
  cursor: pointer;
}

.label-select .MuiSelect-select:focus {
  background-color: transparent !important;
}

.MuiListItem-button input:hover {
  cursor: pointer;
}

.label-select:after,
.label-select:before {
  display: none;
}

.MuiListItem-button input {
  margin-bottom: 0 !important;
}