.fc-event-main {
  background: #fff;
  color: #333 !important;
  border-left: 10px solid var(--gold);
  padding: 10px;
  overflow: hidden;
}

.fc-timegrid-event {
  border-radius: 2px;
  border: none;
}

.fc-theme-standard td, .fc-theme-standard th {
  border-left: none;
  border-right: none;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: solid;
  border-color: #DDDBD7;
}

.fc .fc-timegrid-slot-label {
  border: none;
  position: relative;
  top: -11.5px;
}

.fc .fc-scrollgrid {
  border: none;
}

.fc-theme-standard th {
  border: none;
  padding: 5px 10px 15px;
}

.fc-theme-standard th .fc-scrollgrid-sync-inner {
  text-align: left;
}

.fc-timegrid-col {
  padding: 0 10px !important;
}

.fc .fc-button-group > .fc-button {
  background: transparent;
  color: #B1B0AF;
  border: 2px solid #B1B0AF;
}

/* Table headers */
.time-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 7.5px;
  background: #DDDBD7;
  font-size: 12px;
  font-weight: 500;
  border-radius: 0 0 4px 0;
}

.time-bar .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  background: var(--gold);
  z-index: 0;
  border-radius: 0 0 0 4px;
}

.time-worked,
.time-total {
  position: relative;
  z-index: 1;
}

.time-worked {
  color: #fff;
}

.fc .fc-col-header-cell-cushion {
  padding: 0;
  width: 100%;
}

/* Event cards */
a.fc-event.eventRed {
  transform: rotate(45deg)
}


.event-container {
  padding: 0 7.5px 7.5px;
  position: relative;
  height: 100%;
}

/* .event-container.dragged {
  background: red;
} */

.event-container .event-header {
  background: #fff;
  z-index: 5;
  position: relative;
}

.event-container .event-header h6 {
  font-size: 12px;
  font-weight: bold;
}

.event-container .event-header .type {
  color: #B1B0AF;
  font-weight: bold;
}

.event-container .event-description {
  padding: 15px 0;
  font-size: 12px;
}

.event-container .event-footer {
  position: absolute;
  bottom: 0;
  background: #fff;
  padding: 7.5px 0;
  width: 100%;
}

.event-container .event-footer .remaining {
  display: flex;
  align-items: center;
}

.event-container .event-footer .remaining img {
  margin-right: 5px;
}

/* Table heading */
.table-heading .day {
  padding: 7.5px;
  border-radius: 4px 4px 0 0;
  background: #fff;
  font-size: 12px;
}