.introjs-tooltipReferenceLayer * {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

.introjs-tooltiptext {
  padding: 20px;
  color: #292724;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

.introjs-tooltip-header {
  padding-right: 10px;
}

.introjs-tooltip {
  left: 0 !important;
  transform: translate(-37.5%, 10px);
}

.introjs-skipbutton {
  position: absolute;
  bottom: 9px;
  left: 7.5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 10px;
  text-decoration: none;
  border: none !important;
  box-shadow: none;
  border-radius: 2px;
  transition: background .25s ease-in, color .25s ease-in;
  background-color: transparent;
  color: #B1B0AF;
  outline: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

.introjs-arrow.top {
  top: -21px;
}

.introjs-arrow {
  border: 12.5px solid transparent;
}

.introjs-arrow.top {
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.introjs-button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 7.5px;
  text-decoration: none;
  border: none !important;
  box-shadow: none;
  border-radius: 2px;
  transition: background .25s ease-in, color .25s ease-in;
  background-color: var(--gold);
  color: #fff;
  outline: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

.introjs-prevbutton {
  display: none;
}

.introjs-bullets {
  display: none;
}

.introjs-helperLayer {
  box-shadow: none !important;
}