.fc-event-main {
  background: var(--white);
  color: #333 !important;
  border-left: 10px solid var(--gold);
  padding: 10px;
  overflow: hidden;
}

.fc-timegrid-event {
  border-radius: 2px;
  border: none;
}

.fc-theme-standard td, .fc-theme-standard th {
  border-left: none;
  border-right: none;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: solid;
  border-color: #DDDBD7;
}

.fc .fc-timegrid-slot-label {
  border: none;
  position: relative;
  top: -11.5px;
}

.fc .fc-scrollgrid {
  border: none;
}

.fc-theme-standard th {
  border: none;
  padding: 5px 10px 15px;
}

.fc-theme-standard th .fc-scrollgrid-sync-inner {
  text-align: left;
}

.fc-timegrid-col {
  padding: 0 10px !important;
}

.fc .fc-button-group > .fc-button {
  background: transparent;
  color: #B1B0AF;
  border: 2px solid #B1B0AF;
}

.fc .fc-button {
  opacity: 1;
  transition: opacity 0.25s ease-in-out, background 0.25s ease-in-out, color 0.25s ease-in-out;
}

.fc-today-button:hover {
  background: #B1B0AF !important;
  color: #fff !important;
  opacity: 1;
  transition: opacity 0.25s ease-in-out, background 0.25s ease-in-out, color 0.25s ease-in-out;
}

.fc .fc-button:disabled {
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out, background 0.25s ease-in-out, color 0.25s ease-in-out;
}

.fc .fc-button:disabled:hover {
  background: transparent !important;
  color: #B1B0AF !important;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out, background 0.25s ease-in-out, color 0.25s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.fc .fc-scroller::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.fc .fc-scroller {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Table headers */
.time-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 7.5px;
  background: #DDDBD7;
  font-size: 12px;
  font-weight: 500;
  border-radius: 0 0 4px 0;
}

.time-bar .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  background: var(--gold);
  z-index: 0;
  border-radius: 0 0 0 4px;
}

.time-worked,
.time-total {
  position: relative;
  z-index: 1;
}

.time-worked {
  color: #fff;
}

.fc .fc-col-header-cell-cushion {
  padding: 0;
  width: 100%;
}

/* Event cards */
a.fc-event.eventRed {
  transform: rotate(45deg)
}


.react-trello-lane {
  width: calc(20% - 10px);
}

.react-trello-board > div {
  width: 100%;
}

.event-outer {
  background: var(--white);
  color: #333 !important;
  border-left: 10px solid var(--gold);
  padding: 10px;
  overflow: hidden;
  margin: 0 10px 10px;
}

.event-outer:hover {
  cursor: pointer;
}

.event-container {
  padding: 0 8px 8px;
  position: relative;
  height: 100%;
}

/* .event-container.dragged {
  background: red;
} */

.fc-timegrid-event .fc-event-main {
  padding: 0 !important;
  overflow: visible;
}

.event-container .event-header {
  background: var(--white);
  z-index: 5;
  position: relative;
  top: -1px;
}

.event-container .event-header .event-action {
  position: absolute;
  right: -8px;
  top: 5px;
  height: 20px;
}

.event-container .event-header .event-action img {
  transform: rotate(90deg);
}

.event-container .event-header h5 {
  font-weight: 700;
  font-size: 15px;
  padding: 4px 0;
}

.event-container .event-header h6 {
  font-size: 12px;
  font-weight: bold;
}

.event-container .event-header .type {
  color: #B1B0AF;
  font-weight: bold;
}

.event-container .event-description {
  padding: 15px 0;
  font-size: 12px;
}

.event-container .event-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--white);
  padding: 8px 8px 16px;
  width: 100%;
}

.event-container .event-footer .remaining {
  display: flex;
  align-items: center;
}

.event-container .event-footer .remaining img {
  margin-right: 5px;
}

/* Event time */
.event-time {
  position: relative;
  display: flex;
  flex-direction: column;
}

.event-time .time-meta {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
}

.event-time .card-time {
  position: relative;
}

.event-time .total-bar {
  position: absolute;
  width: 100%;
  height: 8px;
  background: rgba(0,0,0,0.2);
}

.event-time .worked-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 8px;
  background: var(--text-gray);
}

.event-buttons {
  position: relative;
  padding-top: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.event-buttons span {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #B1B0AF;
  font-weight: 500;
}

.event-buttons span img {
  margin-right: 2px;
}

.event-buttons span:not(:last-child) {
  margin-right: 8px;
}

/* Table heading */
.table-heading .day {
  padding: 7.5px;
  border-radius: 4px 4px 0 0;
  background: var(--white);
  font-size: 12px;
  font-weight: 600;
}

.fc .fc-toolbar-title {
  font-size: 1.5em;
  margin: 0;
}

.fc .fc-button {
  padding: 0;
}

.fc .fc-button:nth-child(1) {
  margin-right: 5px;
}

.fc .fc-button-group > .fc-button {
  border-radius: 0.25em !important;
  width: 30px;
  height: 30px;
}

.fc .fc-button .fc-icon::before {
  font-size: 18px;
  position: relative;
  top: -2.5px;
}

.fc-icon-chevron-right:before {
  content: "\e901";
  right: -1px;
}

.fc-icon-chevron-right:before {
  content: "\e901";
  right: -1px;
}

.fc .fc-button-group > .fc-button {
  border: 1px solid #B1B0AF;
}

.fc-today-button {
  background: transparent !important;
  color: #B1B0AF !important;
  padding: 1.5px 7.5px !important;
  text-transform: uppercase !important;
  border-color: #B1B0AF !important;
}

.fc .fc-button-primary:not(:disabled):active:focus, .fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none !important;
  background: inherit !important;
  outline: none !important;
  color: inherit !important;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {
  display: flex;
}

/* Kanban Board */
.fc .fc-daygrid-event {
  border: none;
  margin-bottom: 7.5px;
}

.fc .fc-daygrid-day-frame {
  padding: 0 10px;
}

/* Dragging */
/* .fc-v-event .fc-event-main.test {
  background: red;
} */
/* .fc-unselectable {
  transform: rotate(90deg);
} */

/* .fc-timegrid-event-harness {
  transform: rotate(-10deg) translate(5px, -32.5px);
}

.fc-timegrid-event-harness.not-dragged {
  transform: rotate(0) translate(0, 0);
} */