.btn {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 7.5px;
  text-decoration: none;
  border: none;
  box-shadow: none;
  border-radius: 2px;
  font-weight: bold;
  transition: background .25s ease-in, color .25s ease-in;
}

.btn.btn-lg {
  padding: 7.5px 32px;
}

a {
  transition: background .25s ease-in, color .25s ease-in; 
}

.btn:hover {
  background: var(--gold);
  color: #fff;
  cursor: pointer;
}

.btn.btn-grey {
  color: #B1B0AF;
  background: transparent;
  border: 1px solid #B1B0AF;
  text-transform: none;
}

.btn.btn-gold {
  background: var(--gold);
  color: #fff;
}

.btn.btn-gold.gray-text {
  color: #3C3C3C;
}

.btn.btn-light-gray {
  background: #F4F2F0;
  color: #B1B0AF;
}

.btn.btn-dark-gray {
  background: #DDDBD7;
  color: #3C3C3C;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-left .btn {
  margin-right: 10px;
}

.btn-right .btn {
  margin-left: 10px;
}

.btn.gray-border {
  border: 1px solid #B1B0AF;
  color: #B1B0AF;
  background: transparent;
}