.btn {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 7.5px;
  text-decoration: none;
  border: none;
  box-shadow: none;
  border-radius: 2px;
  font-weight: bold;
  transition: background .25s ease-in, color .25s ease-in;
  /* min-width: 85px; */
}

.btn.btn-lg {
  padding: 7.5px 32px;
}

.btn.btn-icon {
  background: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-icon:hover,
.btn.btn-icon.active {
  background: #3C3C3C;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.btn.btn-icon:hover svg path,
.btn.btn-icon.active svg path {
  fill: #fff;
}

a {
  transition: background .25s ease-in, color .25s ease-in; 
}

.btn:hover {
  background: var(--gold);
  color: #fff;
  cursor: pointer;
}

.btn.btn-grey {
  color: #B1B0AF;
  background: transparent;
  border: 1px solid #B1B0AF;
  text-transform: none;
}

.btn.btn-gold {
  background: var(--gold);
  color: #fff;
}

.btn.btn-gold.gray-text {
  color: var(--text-gray);
}

.btn.btn-light-gray {
  background: #F4F2F0;
  color: #B1B0AF;
}

.btn.btn-dark-gray {
  background: #DDDBD7;
  color: var(--text-gray);
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-left .btn {
  margin-right: 10px;
}

.btn-right .btn {
  margin-left: 10px;
}

.btn.gray-border {
  border: 1px solid #B1B0AF;
  color: #B1B0AF;
  background: transparent;
}