.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.form-group label {
  margin-bottom: 7.5px;
  font-size: 16px;
}

.form-control {
  border: 1px solid #DDDBD7;
  padding: 12.5px;
}

/* Modal */
.ReactModal__Overlay {
  background-color: rgba(60, 60, 60, 0.5) !important;
}