.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.form-group.small-gap {
  margin-bottom: 8.5px;
}

.form-group label {
  margin-bottom: 7.5px;
  font-size: 16px;
}

.form-control {
  border: 1px solid #DDDBD7;
  padding: 12.5px;
}

.form-row {
  display: flex;
}

.form-row .form-group {
  width: 47.5%;
  margin-right: 5%;
}

.form-row.three .form-group {
  width: 32%;
  margin-right: 2.5%;
}

.helper {
  font-size: 12px;
}

.text-row {
  background: rgba(255,255,255,0.5);
  padding: 12.5px;
}

/* Project page */
.inline-blocks {
  display: flex;
  justify-content: space-between;
}

.inline-blocks .form-block {
  width: 30%;
}

/* Modal */
.ReactModal__Overlay {
  background-color: rgba(60, 60, 60, 0.5) !important;
}

/* Material UI */
.MuiOutlinedInput-input {
  border: 1px solid #DDDBD7 !important;
  padding: 12.5px !important;
  font-size: 14px !important;
}

.MuiTypography-body1 {
  font-size: 12px !important;
}

.MuiCheckbox-root {
  color: #B1B0AF !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: var(--gold) !important;
}

.MuiFormLabel-root {
  color: #3C3C3C !important;
  font-weight: 400 !important;
}