@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,regular,500,bold,italic,700,800,900&subset=latin,latin-ext');

* {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* Variables */
  --gold: #E0BC77;
  --light-gray: #DDDBD7;
  --dark-gray: #B1B0AF;

  overflow-x: hidden;
  margin: 0;
  color: #3C3C3C;
  background: #F4F2F0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark mode */
body.dark-mode {
  background: #1C1C1C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Forms */
.form-control {
  border: 1px solid #DDDBD7;
  border-radius: 2px;
  padding: 5px;
}

/* Typography */
h1 {
  font-weight: 300;
}

/* Modals */
.ReactModal__Body--open {
  overflow-y: hidden;
}
.modal-footer {
  margin-top: 30px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #DDDBD7;
  border-radius: 100px;
}