@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');

* {
  margin: 0;
}

body {

  /* Variables */
  --gold: #E0BC77;

  overflow: hidden;
  margin: 0;
  color: #3C3C3C;
  background: #F4F2F0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Forms */
.form-control {
  border: 1px solid #DDDBD7;
  border-radius: 2px;
  padding: 5px;
}

/* Typography */
h1 {
  font-weight: 300;
}