.MuiDataGrid-renderingZone {
  max-height: 100% !important;
}

.MuiDataGrid-root .MuiDataGrid-row {
  margin-bottom: 7.5px;
  border-left: 5px solid; 
  background: #fff;
  border-radius: 2px;
}

.MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(1n) {
  border-color: #FCDB6E !important;
}

.MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(2n) {
  border-color: #71DBFC !important;
}

.MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(3n) {
  border-color: #BFE764 !important;
}

.MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(4n) {
  border-color: #4444F8 !important;
}

.MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(5n) {
  border-color: #F14D4C !important;
}

.MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
  background-color: #fff !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDataGrid-root {
  border: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderWrapper {
  background: #DDDBD7;
  margin-bottom: 7.5px;
  color: #3C3C3C;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  font-weight: 600 !important;
}

.MuiDataGrid-root .MuiDataGrid-menuIcon {
  display: none !important;
}

@media (hover: none) {
  .MuiDataGrid-root .MuiDataGrid-row.Mui-selected:hover,
  .MuiDataGrid-root .MuiDataGrid-row:hover {
    background-color: #fff !important;
  }
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  border-bottom: none !important;
}