.MuiDataGrid-renderingZone {
  max-height: 100% !important;
}

.MuiDataGrid-root .MuiDataGrid-row {
  margin-bottom: 7.5px;
  border-left: 5px solid; 
  background-color: #fff;
  border-radius: 2px;
}

.MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(1n) {
  border-color: #FCDB6E !important;
}

.MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(2n) {
  border-color: #71DBFC !important;
}

.MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(3n) {
  border-color: #BFE764 !important;
}

.MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(4n) {
  border-color: #4444F8 !important;
}

.MuiDataGrid-renderingZone > .MuiDataGrid-row:nth-child(5n) {
  border-color: #F14D4C !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDataGrid-root {
  border: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderWrapper {
  background: rgba(221, 219, 215, .5);
  margin-bottom: 7.5px;
  color: #3C3C3C;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  font-weight: 600 !important;
}

.MuiDataGrid-root .MuiDataGrid-menuIcon {
  display: none !important;
}

@media (hover: none) {
  .MuiDataGrid-root .MuiDataGrid-row.Mui-selected:hover,
  .MuiDataGrid-root .MuiDataGrid-row:hover {
    background-color: #fff !important;
  }
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  border-bottom: none !important;
}

.MuiDataGrid-root .MuiDataGrid-row {
  background-color: #fff;
  transition: all 1s;
  transition-timing-function: cubic-bezier(.17,.67,.83,.67);
  width: 100% !important;
}

.MuiDataGrid-root .MuiDataGrid-viewport {
  overflow: visible !important;
}

.MuiDataGrid-root .MuiDataGrid-window {
  overflow: visible !important;
}

.MuiDataGrid-root .MuiDataGrid-row:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
  background-color: #fff !important;
}

.MuiDataGrid-renderingZone {
  position: relative;
  top: -1px;
}

.MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
  background-color: rgba(63, 81, 181, 0.12) !important;
}

.MuiDataGrid-root .MuiDataGrid-row {
  transition: all .5s !important;
}

.MuiDataGrid-iconButtonContainer {
  position: absolute;
  right: 7.5px;
  top: -2px;
  z-index: 5;
}

.MuiDataGrid-root .MuiDataGrid-footerContainer {
  padding-top: 30px !important;
}