.carousel.carousel-slider {
  height: 100%;
}

.carousel .slider-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.carousel.carousel-slider .control-arrow {
  display: flex;
  align-items: flex-start;
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  content: '>';
  background: #333;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}